body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("http://i.vimeocdn.com/video/460516322_1280x720.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color:#444;
  font-size: 18px;
  overflow: hidden;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUpButton, .spinButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer.squareDancer{
  border-color: orange;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.dancer:hover{
}

.spinner{
  transform-origin: -100px;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.blinker{
  animation: spin 10ms, blink 1s step-start 0s infinite;
  /*transform-origin: -100px;*/
  /*animation-name: blink;*/
/*  animation-duration: 10ms;*/
/*  animation-iteration-count: infinite;*/
/*  animation-timing-function: linear;*/
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}



